{% extends "layout.html" %}
{% set active_page = "check" %}

{% block body %}
{% if issues %}
  <ul>
    {% for issue in issues %}
    <li>{{ issue }}</li>
    {% endfor %}
  </ul>
{% else %}
  No issues found.
{% endif %}
{% endblock body %}
