{% extends "layout.html" %}
{% set active_page = "history" %}

{% block body %}

{% if past_cooked_meals %}
<table>
  <tr>
    <th>Date</th>
    <th>Recipe ID</th>
    <th>Recipe name</th>
    <th>Source URL</th>
  </tr>
  {% for meal in past_cooked_meals %}
  <tr>
    <td>{{ meal.date | date_proto_to_iso8601 }}</td>
    <td>
      <!-- TODO(agentydragon): it ought to be possible to load this without N+1 queries... -->
      <a href="/recipe/{{ meal.recipe_id }}">{{ meal.recipe_id }}</a>
    </td>
    <td>
      <!-- TODO(agentydragon): it ought to be possible to load this without N+1 queries... -->
      <a href="/recipe/{{ meal.recipe_id }}">{{ recipes_by_id[meal.recipe_id].title }}</a>
    </td>
    <td>
      {% if recipes_by_id[meal.recipe_id].recipe_proto.source.url %}
        <a href="{{ recipes_by_id[meal.recipe_id].recipe_proto.source.url }}">
          {{ recipes_by_id[meal.recipe_id].recipe_proto.source.url }}
        </a>
      {% endif %}
    </td>
  </li>
  {% endfor %}
</ul>
{% else %}
No past cooked meals.
{% endif %}

<form method="POST" action="/history">
  <input type="text" placeholder="YYYY-MM-DD" name="date">
  <input type="text" placeholder="recipe ID" name="recipe_id">
  <input type="submit" value="Add past cooked meal">
</form>

{% endblock body %}
