{% extends "layout.html" %}

{% block body %}
<h1>{{ ingredient_id }}</h1>

Comment:
{% if ingredient.comment %}
{{ ingredient.comment }}
{% else %}
none
{% endif %}

<h2>Subtypes</h2>
{% if ingredient.subtypes %}
  <ul>
    {% for subtype in ingredient.subtypes %}
    <li>{{ ingredient_link(subtype) }}</li>
    {% endfor %}
  </ul>
{% else %}
  No subtypes.
{% endif %}

<h2>Supertypes</h2>
{% if supertypes %}
  <ul>
    {% for supertype in supertypes %}
    <li>{{ ingredient_link(supertype) }}</li>
    {% endfor %}
  </ul>
{% else %}
  No supertypes.
{% endif %}

{# TODO(agentydragon): in stock: directly, indirectly #}

<h2>Used directly in recipes</h2>

<ul>
  {% for recipe in used_in_recipes_directly %}
  <li>
    <a href="/recipe/{{ recipe.id }}">{{ recipe.title }} ({{ recipe.id }})</a>
  </li>
  {% endfor %}
</ul>

<h2>Used indirectly in recipes</h2>

<ul>
  {% for recipe in used_in_recipes_indirectly %}
  <li>
    <a href="/recipe/{{ recipe.id }}">{{ recipe.title }} ({{ recipe.id }})</a>
  </li>
  {% endfor %}
</ul>

<h2>Products</h2>

<h3>Direct</h3>
<ul>
  {% for product in direct_ingredient_products %}
  <li>
    {{ product_link(product) }}
  </li>
  {% endfor %}
</ul>

<h3>Indirect</h3>
<ul>
  {% for product in indirect_ingredient_products %}
  <li>
    {{ product_link(product) }}
  </li>
  {% endfor %}
</ul>



{% endblock body %}
