{% extends "layout.html" %}
{% set active_page = "ingredient" %}

{% block body %}

<table>
  <thead>
    <tr>
      <th>Ingredient</th>
      <th>Stock</th>
      <th>Stock checked</th>
      <th>Buyable?</th>
      <th>Used in recipes directly</th>
      <th>Used in recipes indirectly</th>
    </tr>
  </thead>
  <tbody>
  {% for ingredient_id in ingredient_database.ingredient_ids | sort %}
    <tr>
      <td>{{ ingredient_link(ingredient_id) }}</td>
      <td>
        {% if ingredient_id in stock_item_by_ingredient_id %}
	  {{ stock_item_by_ingredient_id[ingredient_id].amount }}
	{% endif %}
      </td>
      <td>
        {% if ingredient_id in stock_item_by_ingredient_id %}
	  {{ stock_item_by_ingredient_id[ingredient_id].timestamp | format_timestamp_proto }}
	{% endif %}
      </td>
      <td>{{ ingredient_product_states[ingredient_id] }}</td>
      <td>{{ ingredient_used_directly.get(ingredient_id, 0) }}</td>
      <td>{{ ingredient_used_indirectly.get(ingredient_id, 0) }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<h2>Ingredient names</h2>
<table>
	<tr>
		<th>Ingredient ID</th>
		<th>Names</th>
		<th>Comment</th>
	</tr>
{% for name in ingredient_database.names %}
<tr>
<td>{{ name.ingredient_id }}</td>
<td>{{ name.name }}</td>
<td>{{ name.comment }}</td>
</tr>
{% endfor %}
</table>

<h2>Ingredient matter rules</h2>
<table>
{% for rule in ingredient_database.ingredient_matter_rules %}
<tr>
<td>{{ rule }}</td>
</tr>
{% endfor %}
</table>

{% endblock body %}
