<head>
  <style id="_stylefy-constant-styles_"></style>
  <style id="_stylefy-styles_"></style>
</head>

<nav>
  <ul>
    {% for href, id, caption in navigation_bar %}
    <li{% if id == active_page %} class="active"{% endif %}>
      <a href="{{ href }}">{{ caption }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>

{% macro ingredient_link(ingredient_id) -%}
  <a href="/ingredient/{{ ingredient_id }}">{{ ingredient_id }}</a>
{%- endmacro %}

{% macro product_link(product) -%}
  <a href="/product/{{ product.merchant }}/{{ product.merchant_product_id }}">
    {{ product.merchant }}/{{ product.merchant_product_id }}
  </a>
{%- endmacro %}

{% block body %}
{% endblock body %}
