{% extends "layout.html" %}
{% set active_page = "plan" %}

{% block body %}

<a href="/plan">Back to plan index</a>

<h1>Plan {{ stored_plan.plan_id }}</h1>
Created {{ stored_plan.created_at | format_timestamp_proto }}

<a href="/plan/{{ stored_plan.plan_id }}/calendar.ics">ICS calendar file</a>

<form method="POST" action="/plan/{{ stored_plan.plan_id }}/delete">
  <input type="submit" value="Delete">
</form>

<form method="POST" action="/plan/{{ stored_plan.plan_id }}/comment">
  <textarea placeholder="Comment" name="comment">{{ stored_plan.comment }}</textarea>
  <input type="submit" value="Update comment">
</form>

<form method="POST" action="/plan">
  <textarea name="plan_request_textproto">{{ stored_plan.plan_request | proto_to_textproto }}</textarea>
  <input type="submit" value="Replan">
</form>

<h2>Selected foods</h2>
<ul>
{% for recipe, portions in selected_recipes %}
  <li>
    {{ portions }}x
    <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a>
  </li>
{% endfor %}
</ul>

<h2>Check we still have these, and move them to the managed shelf</h2>
<table>
	<thead>
		<tr>
			<th>Ingredient</th>
			<th>Amount needed</th>
			<th>Stock</th>
			<th>Last checked</th>
		</tr>
	</thead>
	<tbody>
	{% for ingredient, amounts in amounts_by_ingredient %}
	{% if stock_state[ingredient]['amount'] %}
	<tr>
		<td>{{ ingredient_link(ingredient) }}</a></td>
		<td>
		  {% if ingredient in totals %}
		    {{ totals[ingredient] | unit_amount_to_str }}
		    {# TODO(agentydragon): we should show the total either way - even if we should have "enough", even if the total is non-unit #}
		  {% endif %}
		</td>
		<td>
		  {% if stock_state[ingredient]['enough'] %}
		    enough
		  {% else %}
		    {# TODO(agentydragon): we should show the total, anyway #}
		    {{ stock_state[ingredient]['amount'] | amount_in_stock_to_str }}
		  {% endif %}
		</td>
		<td>
		  {# TODO(agentydragon): sort by last_checked desc #}
		  {{ stock_state[ingredient]['last_checked'] | format_timestamp_proto }}
                  <span title="{{ stock_state[ingredient]['last_checked'] | format_timestamp_proto }}">
                    {{ stock_state[ingredient]['last_checked'] | time_ago_timestamp_proto }}
                  </span>
		</td>
	</tr>
	{% endif %}
	{% endfor %}
	</tbody>
</table>
{# TODO(agentydragon): "sufficiency" messages #}
{# TODO(agentydragon): only check the stock if it's load-bearing; it's not load-bearing if we want to order it from LeShop anyway #}
{# TODO(agentydragon): print out how load-bearing it must be #}

<h2>Somehow obtain, but I don't know how</h2>
<ul>
{% for ingredient, amount in out_of_system.items() %}
<li>{{ ingredient_link(ingredient) }} {{amount | unit_amount_to_str}}</li>
{% endfor %}
</ul>

<h2>Stickers</h2>
<ul>
	{% for page in range(stickers_pages_count) %}
	<li><a href="/plan/{{ stored_plan.plan_id }}/stickers/{{ page }}.svg">Page {{ page + 1 }}</a></li>
	{% endfor %}
</ul>

<h2>Buy in LeShop</h2>
{# TODO(agentydragon): sort table alphabetically #}
<table>
	<tr>
		<th>Ingredient</th>
		<th>Product link</th>
		<th>LeShop link</th>
		<th>Copies to buy</th>
		<th>Package size</th>
		<th>We have</th>
		<th>We need</th>
	</tr>
	{% for amount, product in product_amounts %}
	<tr>
		<td>{{ ingredient_link(product.contents.ingredient_id) }}</td>
		<td>{{ product_link(product) }}</td>
		<td>
		  <a href="{{ product.merchant_product_id | leshop_link }}">
		    {{ product.merchant_product_id }}
		  </a>
		</td>
		<td>{{ amount }}</td>
		<td>{{ product.contents.amount | product_unit_amount_to_str }}</td>
		<td>
			{% if product.contents.ingredient_id in stock_state %}
			{{ stock_state[product.contents.ingredient_id]['amount'] | amount_in_stock_to_str }}
			{% else %}
			not in stock
			{% endif %}
		</td>
		<td>
			{% if product.contents.ingredient_id in totals %}
			  {{ totals[product.contents.ingredient_id] | unit_amount_to_str }}
			{% else %}
			  {# TODO(agentydragon): this is probably because of confusion between generic/non-generic ingredients #}
			  not found in totals!
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>

<details>
	<summary>Detailed breakdown</summary>
<table>
	<tr>
		<th>Ingredient</th>
		{% for recipe, portions in selected_recipes %}
			<th>
				{{ portions }}x
				{# TODO(agentydragon): reuse as a helper #}
				<a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a>
			</th>
		{% endfor %}
		<th>Total</th>
		<th>Stock</th>
		<th>LeShop</th>
	</tr>

	{% for ingredient, amounts in amounts_by_ingredient %}
		<tr>
			<td>{{ ingredient_link(ingredient) }}</td>
			{% for recipe, portions in selected_recipes %}
			<td>
				{% if recipe.id not in amounts %}
					-
				{% else %}
					{{ amounts[recipe.id] | amount_to_str }}
				{% endif %}
			</td>
			{% endfor %}
			<td>
				{% if stock_state[ingredient]['enough'] %}
					dont care, stock is enough
				{% elif ingredient in totals %}
					{{ totals[ingredient] | unit_amount_to_str }}
			        {% else %}
					Ingredient not in totals and not enough?!
					{# TODO(agentydragon): handle this properly #}
					{# TODO(agentydraogn): "to taste" and "obtain externally" probably do not interact well #}
				{% endif %}
			</td>
			<td>
				{{ stock_state[ingredient]['amount'] | amount_in_stock_to_str }}
			</td>
			<td>
				{% if ingredient in pc %}
				<a href="{{ pc[ingredient].merchant_product_id |
					 leshop_link }}">{{
					 pc[ingredient].merchant_product_id }}</a> @
					{{ pc[ingredient].contents.amount | product_unit_amount_to_str }}
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</table>
</details>

{% endblock body %}
