{% extends "layout.html" %}
{% set active_page = "plan" %}

{% block body %}

{% if plans %}
<ul>
  {% for plan in plans %}
  <li>
    <a href="/plan/{{ plan.plan_id }}">
      {{ plan.plan_id }}, created {{ plan.created_at | format_timestamp_proto }}
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
No plans created yet.
{% endif %}

{# TODO(agentydragon): add plan form #}

{% endblock body %}
