{% extends "layout.html" %}
{% set active_page = "product" %}

{% block body %}

<form method="POST" action="/product">
  <input type="text" placeholder="merchant" name="merchant">
  <input type="text" placeholder="merchant_product_id" name="merchant_product_id">
  <input type="text" placeholder="contents" name="contents">
  <input type="text" placeholder="comment" name="comment">
  <input type="submit" value="Create">
</form>

<table>
  <thead>
    <tr>
      <th>Merchant/product ID</th>
      <th>Contents</th>
      <th>Comment</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  {% for product in products %}
    <tr>
      <td>{{ product_link(product) }}
      <td>{{ product.contents }}</td>
      <td>{{ product.comment }}</td>
      <td>
	<form method="POST" action="/product/{{ product.merchant }}/{{ product.merchant_product_id }}/delete">
	  <input type="submit" value="Delete">
	</form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock body %}
