{% extends "layout.html" %}
{% set active_page = "product" %}

{% block body %}

<ul>
  <li>Merchant: {{ product.merchant }}</li>
  <li>Merchant product ID: {{ product.merchant_product_id }}</li>
  <li>Contents: {{ product.contents }}</li>
  <li>Comment: {{ product.comment }}</td>
</ul>

{# TODO(agentydragon): Allow triggering stock #}

<h2>Merchant product status history</h2>

<table>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Proto</th>
    </tr>
  </thead>
  <tbody>
    {% for mps in merchant_product_status_history %}
      <tr>
        <td>{{ mps.timestamp | format_timestamp_proto }}</td>
        <td>{{ mps }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock body %}
