{% extends "layout.html" %}
{% set active_page = "recipe" %}

{% block body %}

<h1>{{ recipe.title }} ({{ recipe.id }})</h1>
{% if recipe.source.url %}
  Source: <a href="{{ recipe.source.url }}">{{ recipe.source.url }}</a>
{% endif %}<br>
Serves: {{ recipe.recipe_proto.serves.min }} - {{ recipe.recipe_proto.serves.max }}<br>

Comment: {{ recipe.comment }}<br>

Ingredients:
<ul>
  {% for line in recipe.recipe_proto.ingredients %}
    <li>
      {{ ingredient_link(line.ingredient_id) }}:
      {{ line.amount | amount_to_str }}
      {{ line.comment }}
    </li>
  {% endfor %}
</ul>

{% if recipe.recipe_proto.instructions %}
Instructions:
<ol>
  {% for line in recipe.recipe_proto.instructions %}
    <li>{{ line }}</li>
  {% endfor %}
</ol>
{% endif %}

<details>
  <summary>Importer key</summary>
  <pre>
    {{ recipe.importer_key }}
  </pre>
</details>
<details>
  <summary>Recipe proto</summary>
  <pre>
    {{ recipe.recipe_proto }}
  </pre>
</details>

{# TODO(agentydragon): display whether recipe can be cooked #}
{# TODO(agentydragon): display whether all ingredients have a known product #}

{% endblock body %}
