{% extends "layout.html" %}
{% set active_page = "recipe" %}

{% block body %}

{% if recipes %}
<ul>
  {% for recipe in recipes %}
  <li>
    <a href="/recipe/{{ recipe.id }}">{{ recipe.title }} ({{ recipe.id }})</a>
  </li>
  {% endfor %}
</ul>
{% else %}
No recipes created yet.
{% endif %}

{% endblock body %}
