{% extends "layout.html" %}
{% set active_page = "stock" %}

{% block body %}
<div id="app">
  Shadow-cljs rocks!
</div>
<script src="/static/stock_index.js" type="text/javascript"></script>
<script>cljs_frontend.core.init();</script>

<!-- Legacy non-JavaScript UI -->
<noscript>
  <h1>Stock</h1>
  <table>
    <tr>
      <th>Ingredient</th>
      <th>Amount proto</th>
      <th>Updated at</th>
      <th>Comment</th>
      <th>Actions</th>
    </tr>
    <tbody>
      {% for stock_item in stock.stock %}
      <tr>
        <td>
          <form id="form_{{ loop.index }}"
                method="POST"
                action="/stock">
            <input type="hidden"
                   name="ingredient_id" value="{{ stock_item.ingredient_id }}">
          </form>
	{{ ingredient_link(stock_item.ingredient_id) }}
	</a>
        </td>
        <td>
          <input type="text"
                 value="{{ stock_item.amount }}"
                 form="form_{{ loop.index }}" name="amount"></td>
        <td>
          <span title="{{ stock_item.timestamp | format_timestamp_proto }}">
            {{ stock_item.timestamp | time_ago_timestamp_proto }}
          </span>
        </td>
        <td>
          <input type="text" value="{{ stock_item.comment }}"
                             form="form_{{ loop.index }}" name="comment"></td>
        <td>
          <input type="submit"
                 value="Update"
                 form="form_{{ loop.index }}"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Add new ingredient</h2>
  <form id="add_new" method="POST" action="/stock">
    <input type="text" value="" name="ingredient_id" placeholder="/ingredient/id/...">
    <input type="text" value="" placeholder="exact { unit: ... amount: ... }" name="amount">
    <input type="text" value="" placeholder="Comment" name="comment">
    <input type="submit" value="Add">
  </form>
</noscript>

<!-- TODO(agentydragon): merge lower_bound and exact -->
<!-- TODO(agentydragon): accept fuzzy weight input -->

<h2>Plan</h2>
<form method="POST" action="/plan">
  <textarea name="plan_request_textproto">{{ plan_request_textproto }}</textarea>
  <input type="submit" value="Plan">
</form>
{% endblock body %}
